---
layout: page
title: Demos
weight: 2
permalink: /demos/
show: 1
---
<h3>Demos</h3>


<p>

  These are some of the open-source demos we built to make our research more readily available for developers and researchers.

</p>

<div class="papers-list">
{% for demo in site.data.demos.demos %}
<div class="paper-card">
  <div class="paper-card-image">
    {% if demo.image %}<a href="{{demo.link}}"><img src="{{demo.image}}" alt="Screenshot of {{demo.title}}"></a>{% endif %}
  </div>
  <div class="paper-card-body">
    <a class="paper" href="{{demo.link}}">{{demo.title}}</a><br>
    {{demo.abstract}}<br>
    {% if demo.demo %}<a class="badge bg-info text-decoration-none" href="{{demo.demo}}">demo</a> {% endif %}
    {% if demo.code %} <a class="badge bg-warning text-decoration-none" href="{{demo.code}}">code</a>{% endif %}
    {% if demo.paper %}<a class="badge bg-info text-decoration-none" href="{{demo.paper}}">paper</a> {% endif %}
    {% if demo.data %}<a class="badge bg-success text-decoration-none" href="{{demo.data}}">data</a> {% endif %}
    {% if demo.models %}<a class="badge bg-warning text-decoration-none" href="{{demo.models}}">models</a>{% endif %}
  </div>
</div>
{% endfor %}
</div>


