---
layout: page
title: Demos
seo_title: Research Demos | Yuntian Deng
description: "Explore open-source research demos from Yuntian Deng and collaborators, including ProgramAsWeights, NeuralOS, implicit chain of thought, and WildVis."
weight: 2
permalink: /demos/
show: 1
---
<h1 class="page-heading">Demos</h1>


<p>

  These are some of the open-source demos we built to make our research more readily available for developers and researchers.

</p>

<div class="papers-list">
{% for demo in site.data.demos.demos %}
<div class="paper-card" id="{{ demo.title | slugify }}">
  <div class="paper-card-image">
    {% if demo.image %}<a href="{{demo.link}}">{% assign figure_alt = demo.title | prepend: "Screenshot of " %}{% include responsive-image.html src=demo.image alt=figure_alt %}</a>{% endif %}
  </div>
  <div class="paper-card-body">
    <a class="paper" href="{{demo.link}}">{{demo.title}}</a><br>
    {{demo.abstract}}<br>
    {% if demo.demo %}<a class="tag tag-demo" href="{{demo.demo}}">demo</a> {% endif %}
    {% if demo.code %} <a class="tag tag-code" href="{{demo.code}}">code</a>{% endif %}
    {% if demo.paper %}<a class="tag tag-paper" href="{{demo.paper}}">paper</a> {% endif %}
    {% if demo.data %}<a class="tag tag-data" href="{{demo.data}}">data</a> {% endif %}
    {% if demo.models %}<a class="tag tag-models" href="{{demo.models}}">models</a>{% endif %}
  </div>
</div>
{% endfor %}
</div>
