---
layout: page
title: Yuntian Deng
weight: 1.5
show: 1
---

<div class="col-7">
    <center>
  <table>
<tr><td style="padding:10px 90px 10px 0px">
      <img width="200px" class="img-rounded" src="https://avatars.githubusercontent.com/u/5753959?v=4" />
  </td><td style="padding:10px">
    <center>
    <h1>Yuntian Deng</h1>
    <b>Ph.D. Student.</b> <br> <b>Harvard University</b> <br>
    <span style="font-size:15px"><a href="mailto:dengyuntian@seas.harvard.edu">[dengyuntian@seas.harvard.edu]</a> <a href="cv/cv.comp.pdf">[cv]</a></span> </h1> <br>
</center>

      </td>
  </tr>
  </table>
  </center>
<br>
</div>

<p style="font-size: 18px">
  
  My <a href="papers/">research</a> aims at generating long-form texts that exhibit high-level plots, conform to domain knowledge, and connect to real-world events while maintaining consistency and continuity. To achieve this goal, my research develops deep generative models, a toolkit that allows us to explicitly model the dependency structures among variables of interest, and learn these dependencies from partially observed data. 
</p>

<p style="font-size: 18px">
  I am also interested in <a href="projects/">open-source</a> projects to make my research efforts more readily available for developers and researchers.
</p>


<h3> Current Research Area </h3>
<p style="font-size: 18px">
<ul style="font-size: 18px">
  <li> Deep generative models for probabilistic text generation. </li>
</ul>
</p>

<h3>Selected Papers</h3>

<table>
{% for paper in site.data.papers.notable %}

  <tr><td style="padding:10px">
      {% if paper.image %}
      <a href="{{paper.pdf}}"><img width="150px" style="min-width:100px" src="{{paper.image}}"></a>
      {% else %}
      <a href="{{paper.pdf}}"><img height="75px" style="min-width:100px" src="https://avatar.tobi.sh/{{paper.title}}"></a>

      {% endif %}
</td><td style="padding:10px">
<a class="paper" href="{{paper.pdf}}">
{{paper.title}}
</a><br>
{{paper.authors}}.<br>
{{paper.conference}} <br>

<br>

</td></tr>

{% endfor %}
</table>


<h3>Contact</h3>


<div class="paper-section">
Yuntian Deng <br>
dengyuntian at seas.harvard.edu <br>
Harvard SEC Room 5.443, Cambridge, MA <br>
</div>
<br>
