---
layout: page
title: Group
permalink: /group/
weight: 1.5
show: 1
---


{% for group in site.data.members %}
<h3 style="margin-top:20px">{{group.group}}</h3>
<div class="members-grid">
{% for member in group.people %}
<div class="member-card">
  <a href="{{member.url}}">
    <img class="member-photo" src="{% if member.githubid %}https://avatars2.githubusercontent.com/u/{{member.githubid}}?v=3&s=400{% else %}{{member.pic}}{% endif %}" alt="Photo of {{member.name}}">
  </a>
  <h5 class="member-name">{{member.name}}</h5>
</div>
{% endfor %}
</div>
{% endfor %}

