---
layout: page
title: Publications
permalink: /papers/
weight: 5
show: 1
---

<h3>Papers</h3>



<p>
  
  
My full list of papers can be found at my <a href="https://scholar.google.com/citations?user=tk0e5lYAAAAJ">Google Scholar</a>.
</p>
<div class="papers-list">
{% for paper in site.data.papers.papers %}
<div class="paper-card">
  <div class="paper-card-image">
    {% if paper.image %}
    <a href="{{paper.pdf}}"><img src="{{paper.image}}" alt="Figure from {{paper.title}}"></a>
    {% else %}
    <a href="{{paper.pdf}}"><img src="https://avatar.tobi.sh/{{paper.title}}" alt="Figure from {{paper.title}}"></a>
    {% endif %}
  </div>
  <div class="paper-card-body">
    <a class="paper" href="{{paper.pdf}}">{{paper.title}}</a><br>
    {{paper.authors}}.<br>
    {{paper.conference}}<br>
    {% if paper.notes %}{{paper.notes}}{% endif %}
  </div>
</div>
{% endfor %}
</div>
