---
layout: page
title: Publications
permalink: /papers/
weight: 5
show: 1
---

<h3>Papers</h3>



<p>
  
  
My full list of papers can be found at my <a href="https://scholar.google.com/citations?user=tk0e5lYAAAAJ&hl=en">Google Scholar</a>.
</p>
<table>
{% for paper in site.data.papers.papers %}


  <tr><td style="padding:10px">
      {% if paper.image %}
      <a href="{{paper.pdf}}"><img width="300px" style="min-width:150px" src="{{paper.image}}"></a>
      {% else %}
      <a href="{{paper.pdf}}"><img height="75px" style="min-width:150px" src="https://avatar.tobi.sh/{{paper.title}}"></a>

      {% endif %}
</td><td style="padding:10px">
<a class="paper" href="{{paper.pdf}}">
{{paper.title}}
</a><br>
{{paper.authors}}.<br>
{{paper.conference}} <br>
{% if paper.notes %}
{{paper.notes}}<br>
{% else %}
{% endif %}
</td><td style="padding:10px">

<br>

</td></tr>

{% endfor %}
</table>
