---
layout: page
title: Talks
permalink: /talks/
weight: 3
show: 1
---

<h3>Talks &amp; Invited Presentations</h3>

<p>
Below is a selection of invited talks and presentations. This list is not exhaustive.
</p>

<div class="table-scroll">
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Title</th>
      <th scope="col">Venue</th>
    </tr>
  </thead>
  <tbody>
    {% for talk in site.data.talks.talks %}
    <tr>
      <td>{{ talk.date }}</td>
      <td>{% if talk.url %}<a href="{{ talk.url }}">{{ talk.title }}</a>{% else %}{{ talk.title }}{% endif %}</td>
      <td>{{ talk.venue }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
